<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

  <div th:fragment="textInputField (labelMessageKey, field, inputType)" th:remove="tag">
    <label th:text="#{__${labelMessageKey}__}" />
    <span class="validation-error"
       th:if="${#fields.hasErrors('__${field}__')}"
       th:errors="*{__${field}__}" />
    <input th:type="${inputType}" th:field="*{__${field}__}" />
    
  </div> 
  
  <span th:fragment="field-errors(field)" 
       class="validation-error"
       th:if="${#fields.hasErrors('__${field}__')}"
       th:errors="*{__${field}__}">
  </span>

</html>