<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{errorPage.title}">System error</title>
  <link rel="stylesheet" href="../static/css/error-pages.css" th:href="@{css/error-pages.css}" />
</head>

<body>
	<div class="container">
    	<h1 th:text="#{errorPage.userError.notFound}" />
    	<h2 th:text="#{errorPage.systemError.message}" />
  	</div>
</body>
</html>