<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{details.title}">Employee</title>
</head>
<body>
	<div class="container">
		<h1 th:text="#{details.heading}">Employee Details</h1>
		<form action="#" th:action="@{/details.html(employeeId=${employeeForm.employee.id})}" th:object="${employeeForm}" method="post">
			<div class="">
				<input type="hidden" th:field="*{employee.id}" /> 
				<div th:replace="fragments/form :: textInputField(details.form.label.fullName, employee.fullName, 'text')" />
				<div th:replace="fragments/form :: textInputField(details.form.label.department, employee.department, 'text')" />
			</div>
			
			<div class="card">
	        	<div class="heading" th:text="#{details.form.section.contact}">Contact info</div>
	        	<div class="no-entries" th:if="${#lists.isEmpty(employeeForm.employee.contacts)}">
	          		<span th:text="#{details.form.contacts.empty}" />
	          		<button type="submit" name="action" value="add-contact" th:value="${T(com.mn.daasdemophonebook.controller.form.EmployeeDetailsForm.Action).ADD_CONTACT}" th:text="#{details.form.action.add-contact}">Add new</button>
	        	</div>
		        <table th:if="${not #lists.isEmpty(employeeForm.employee.contacts)}">
		          <thead>
		            <tr>
		              <th th:text="#{details.form.label.type}">Type</th>
		              <th th:text="#{details.form.label.contact}">Contact</th>
		              <th class="action">
		              	<button type="submit" name="action" value="add-contact" th:value="${T(com.mn.daasdemophonebook.controller.form.EmployeeDetailsForm.Action).ADD_CONTACT}" th:text="#{details.form.action.add-contact}">Add new</button>
		              </th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr th:each="contactInfo, stat : ${employeeForm.employee.getContacts()}">
		              <input type="hidden" th:field="*{employee.contacts[__${stat.index}__].id}" />
		              <td>
		              	<select th:field="*{employee.contacts[__${stat.index}__].type}">
		                	<option th:each="contactType : ${T(com.mn.daasdemophonebook.model.Contact.ContactType).values()}" th:value="${contactType}" th:text="#{'contact.' + ${contactType}}"></option>
		              	</select>
		              </td>
		              <td>
		              	<input type="text" th:field="*{employee.contacts[__${stat.index}__].contact}" />
		              	<span class="validation-error" th:if="${#fields.hasErrors('employee.contacts[' + stat.index + '].contact')}" th:errors="*{employee.contacts[__${stat.index}__].contact}">Error</span>
		              </td>
		              <td class="action">
		                <button type="submit" name="deleteContactIndex" value="0" th:value="${stat.index}" th:text="#{details.form.action.delete-contact}">Delete</button>
		              </td>
		            </tr>
		          </tbody>
		        </table>
	      	</div>
	      	
	      	<button th:if="${employeeForm.employee.id != null}" type="submit" name="action" value="save" th:value="${T(com.mn.daasdemophonebook.controller.form.EmployeeDetailsForm.Action).SAVE}" th:text="#{details.form.action.save}">Save changes</button>
      		<button th:if="${employeeForm.employee.id == null}" type="submit" name="action" value="save" th:value="${T(com.mn.daasdemophonebook.controller.form.EmployeeDetailsForm.Action).SAVE}" th:text="#{details.form.action.create}">Create new employee</button>
		    <button type="submit" name="action" value="back" th:value="${T(com.mn.daasdemophonebook.controller.form.EmployeeDetailsForm.Action).BACK}" th:text="#{details.form.action.back}">Back to employees</button>
		    <button th:if="${employeeForm.employee.id != null}" type="submit" name="action" value="delete" th:value="${T(com.mn.daasdemophonebook.controller.form.EmployeeDetailsForm.Action).DELETE}" th:text="#{details.form.action.delete}">Delete this employee</button>
		
		    <ul th:if="${#fields.hasErrors('global')}">
		    	<li class="validation-error" th:each="err : ${#fields.errors('global')}" th:text="${err}">Please review your input</li>
		    </ul>
      	
		</form>
	</div>
</body>
</html>