<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{phonebook.title}">Phonebook</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1 th:text="#{phonebook.header.h1.text}">Phonebook new version!!!</h1>
			</div>
 			<!-- <div class="searchBox">
				<form action="#" th:action="@{/}" method="get">
        			<label for="searchBox" th:text="#{phonebook.action.search.caption}">Search for employees</label>
        			<input id="searchBox" class="hint" type="text" name="searchTerm" placeholder="type a name" th:placeholder="#{phonebook.action.search.textbox.placeholder}" autocomplete="off" />
        			<button id="searchSubmit" class="submit" title="Search" th:title="#{phonebook.action.search.button.title}" type="submit">Search</button>
      			</form>
			</div> -->
			<div class="employeeList" th:if="${not #lists.isEmpty(employeesPage)}">
      			<ul>
        			<li th:each="employee : ${employeesPage.content}" th:id="${'employee-' + employee.id}">
        				<a href="details.html" th:href="@{/details.html(employeeId=${employee.id})}">
            			<div class="description">
              				<div class="employeeName" th:text="${employee.fullName}">Employee Fullname</div>
              				<div class="employeeDepartment" th:text="${employee.department}">Job Function</div>
            			</div>
        				</a>
        			</li>
      			</ul>
    		</div>
    		<div class="no-results" th:if="${#lists.isEmpty(employeesPage.content)}" th:text="#{phonebook.info.no-records}">Sorry, we do not have employees in the database.</div>
			<div th:replace="fragments/pagination :: pagingStripe(employeesPage)" />
    		<div>
    			<form action="#" th:action="@{/details.html}" method="get">
      				<button type="submit" th:text="#{phonebook.action.createEmployee}">Create new Entry</button>
    			</form>
    		</div>
		</div>
	</body>
</html>